* {
	font-family: Arial;
}

div{
	text-align: center;
	color: blue;
	background-color: black;
}
ul{
	list-style: none;
	font-size: 25px;
	padding: 10px;
}
li{
	display: inline;
	padding: 70px;
}
li:hover{
	color: red;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
